/* @font-face {
    font-family: 'YamSuf';
    src: url('fonts/YamSuf.ttf') format('truetype'),
         url('fonts/YamSuf.otf') format('opentype'),
         url('fonts/YamSuf.woff') format('woff');
    font-weight: normal;
    font-style: normal;
} */
